<% title "Privacy policy" %>

<div class="tos">
  <h2>Privacy policy</h2>

  <p>
    Upon logging in via <b>Spotify</b>, the site stores your <b>display name, email address and the Spotify user ID</b>.
  </p>
  
  <p>
    <b>Credentials</b> needed to <b>access your playlists</b> via the Spotify API are stored <b>only in session and cookie data</b>,
    which means they are <b>stored on your computer</b> and are <b>only accessed by the site server when needed</b>.
  </p>

  <p>
    The site also stores <b>a list of songs</b> that you have <b>saved in your Spotify library</b>. This is necessary to provide the service. 
  </p>

  <p>
    I will do my best to disallow unauthorized access to your data,
    and will notify you if it comes to my notice that there has been an instance of unauthorized access to your data.
  </p>

  <p>You can request deletion or a copy of all the data related to you via email (me@irth.pl).</p>
</div>