<% title "Terms of Service" %>

<div class="tos">
  <h2>Terms of Service</h2>

  <p>
    The site is provided as is, with no guarantees whatsoever.
    Your usage of the site is strictly at your own risk. I will not be liable
    for any losses and/or damages in connection with the use of our website.
  </p>
    
  <p>
    By using the site you consent to this disclaimer and agree to the terms
    of service defined on this page.
  </p>
  
  <p>
    I only test the site on whichever version of Chrome I have installed on my
    PC, but it will probably work on all the browsers supported by
    Tailwind.css.
  </p>

  <p>
    The site is not directed to children. Access to and use of the site is only
    for those over the age of 13 (or 16 in the European Union).
    If you are younger than this, you may not register for or use the site.
    Any person who registers as a user or provides their personal information
    to the site represents that they are 13 years of age or older (or 16 years
    or older in the European Union).
  </p>

  <ul>
    <li>You can export your data from the website by emailing the author (me@irth.pl).</li>
    <li>You can close your account at any time by emailing the site author (me@irth.pl).</li>
    <li>Your personal data (including your music library, email address, name) will not be shared without your consent.</li>
    <li>I am quite certain that the site won't delete/modify your Spotify data besides creating the playlists, but bugs happen.</li>
  </ul>

  <ul>
    <li>You may not make automated requests to the site.</li>
    <li>You must not overburden the site's servers, as determined by me in my sole discretion.</li>
    <li>You must not use the site for any unlawful purposes.</li>
    <li>You must comply with all applicable laws and regulations.</li>
  </ul>

  <ul>
    <li>I reserve the right to terminate any account and/or block access to the website without providing reason.</li>
  </ul>
</div>