<% title "Join playlist" %>

<p class="text-2xl p-1">
    Your friend
    <% unless @playlist.user1.display_name.empty? %>
    <span class="text-spotify-green">
        <%= @playlist.user1.display_name %>
    </span>
    <% end %>
    has invited you to join their playlist.
</p>

<% if !logged_in? %>
<p class="mt-4 mb-2"> 
    <span class="max-w-md inline-block leading-tight text-justify text-lg">
        Once you log in and synchronize your music library, we'll create
        a personalised playlist containing songs that you both like, so that
        you can listen to it together.
    </span>
</p>
<% end %>

<p>
<%= link_to(
    (!logged_in? ? "Log in via Spotify" : "Join playlist"),
    join_playlist_path(@playlist.id, key: @playlist.key),
    method: :post,
    class: logged_in? ? "big-round-button" : "round-button",
) %>
</p>

<% if logged_in? %>
<p>
    <span class="max-w-md inline-block leading-tight text-justify text-lg">
        Click the button to find songs you both like :)
    </span>
</p>
<% end %>