<%= form_with url: save_playlist_path(@playlist), local: true, class: "" do |f| %>
    <div>
        <%= f.text_field :name, placeholder: "Name the playlist", class: %w[bg-spotify-gray text-white p-2 text-2xl rounded w-full max-w-sm] %>
    </div>
    <%= f.submit "Save playlist", class: "big-round-button block" %>
    <%= link_to 'back', @playlist, class: "block text-grey-darker" %>
<% end %>